<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Fonts/ Roboto -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/style_index.css">
  <title>Inicio</title>
</head>
<body>
  <nav>
    <div id="left">
      <div id="imagen">
        <a href="/">
          <img src="https://www.creativefabrica.com/wp-content/uploads/social//2022/06/01/2914837/Open-book-with-flowers-growing-black-version.png" alt="">
        </a>
      </div>
      <h1>Guarda tu aventura...</h1>
    </div>

    <div id="rigth">
      <a href="/">Inicio</a>
      <a href="/form">Añadir</a>
    </div>
  </nav>

  <section id="principal">
    

  </section>
  
</body>
</html>